<div ng-controller="StoreController" ng-hide="storeHide" ng-init="init()">
    <table class="table table-bordered">
        <tr class="well text-right">
            <td colspan="6">
                <label>{{cart.totalQuantity}} Items, Price {{cart.total | currency}}</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Name</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>Price</td>
            <td></td>
        </tr>
        <tr ng-repeat="product in filteredProducts">
            <td>{{product.id}}</td>
            <td>
                <a ng-href="#/product/{{product.sku}}">{{product.name}}</a>
            </td>
            <td>{{product.description}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price | currency}}</td>
            <td><button class="btn btn-success" ng-click="addToCart(product.sku, product.quantity, product.price)" ng-disabled="{{product.quantity == 0}}">Add to cart</button></td>
        </tr>
    </table>
    <!--<div class="pull-right" data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true"></div>-->
    <pagination total-items="totalItems"
                page="currentPage" max-size="maxSize"
                class="pagination-sm pull-right" boundary-links="true"
                rotate="false" num-pages="numPages"></pagination>
</div>